@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

body {

    background-color:  black;
    color: white;

}

.cabecalho {
    padding: 2% 0 0 14%;
}

.cabecalho__menu{
    list-style-type: none;
    display: flex;
    justify-content: start;

} 

.cabecalho__menu__link {
    text-decoration: none;
    color: #22D4FD;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.5rem 2rem;

}

.container-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    
}

.titulo-destaque {
    color: #22D4FD;
}

.container-main__conteudo {
    width: 41rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.container-main__conteudo__titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.container-main__conteudo__texto {
    font-size: 1.5rem;

}

.container-main__conteudo__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.conteudo__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;

}

.conteudo__links__link {

    display: flex;
    justify-content: center;
    gap: 1rem;

    border: 2px solid #22D4FD;
    width:23.5rem;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1.35rem 0;
    text-decoration: none;
    color: white;

    font-weight: 600;
}

.conteudo__links__link:hover {
    background-color: #272727;
    padding: 3%;
    transition: 0.5s;
}

.container-footer {
    text-align: center;

    background-color: #22D4FD;
    color: black;

    padding: 1.5rem 0;

    font-weight: 400;
    font-size: 1.5rem;
}